body{
  background-color: #000000;
}

.menuForm {
  background-color: #596673;
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 50%;
  padding: 5px;
  border: 2px solid #F0F8FF;
}

.menuForm h2 {
  text-align: center;
}

.menuForm button{
  position: relative;
  left: 15%;
  width: 70%;
  padding: 20px;
  margin-top: 60px;
  background-color: #B0C4DE;
  border: 2px solid #F0F8FF;
  font-size: 20px;
  color: #454545;
}

.menuForm button:hover, .menuForm button:focus {
  opacity: 0.8;
}

.menuForm button:disabled {
  opacity: 0.4;
}

#homebtn {
  background-color: #4682B4;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 5%;
  height: 5%;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  opacity: 1; 
}
#homebtn:hover, #homebtn:focus {
  background-color: #2B506E;
}
